@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

$background-color: #5c469c;
$background-hover: #eee;
$display-color: #222222;
$font-stack: "Roboto", sans-serif;
$font-color: #ffff;
$font-color-hover: #111;
$previous-operand: rgba(255, 255, 255, 0.75);
$primary-color: #3a1078;
$secundary-color: #000000;
